body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;

}
.hi{
    color: blue;
}
.ai{
    color: red;
}
.half{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half img{
    width:100%;
    
}
.link{
    text-decoration: none;
    background-color: sandybrown;
    padding: 10px 20px;
    border-radius: 5px;
    color: snow;
    font-weight: 700;
    background-image: linear-gradient(blue, red);

}
h2{
    font-size: 40px;
    color: brown;
}
p{
    color: dimgray;
    text-align: justify;
    
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.work{
    background-color: lightgray;
    border-radius: 5px 10px;
    background-size: 75% 50%;

}
h3{
    font-size: 60px;
    text-align: center;

}
.e{
    color: lightsalmon;
}
.a{
    color: limegreen;
}
.three img{
    width: 50%;
    
}

    

.three h1{
    font-size: 30px;
    color: blue;

}
.three{
    width:25%;
    float: left;
    margin-left: 1%;
    padding-left: 5%;
    border-radius: 5px;
    box-shadow: 10px 10px 15px white;
    height: 65%;
    

}
.t{
    text-decoration: none;
    background-color: sandybrown;
    padding: 10px 20px;
    border-radius: 5px;
    color: snow;
    font-weight: 700;
    background-image: linear-gradient(blue, red);
    font-size: 20px;
    margin-top: 10%;
    margin-right: 5%;
    
    
}
.bro{
    text-align: center;
    background-image: url(images/Group_33094_1.png);
    background-size: contain;
    
    
    background-repeat: no-repeat;
    height: 100px;
    background-position: center;
    
}
footer p{
    text-align: center;

}
footer h3{
    font-size: 25px;
    color: green;
}
.u{
    text-align: center;
    height: 1%;
    
}
